[submodule "wiki/trafkverse/Sourcehop-Notes"]
	path = wiki/trafkverse/Sourcehop-Notes
	url = git@github.com:Trafkhop-Entertainment/Sourcehop-Notes
[submodule "wiki/assets/Sourcehop-GodotScenes"]
	path = wiki/assets/Sourcehop-GodotScenes
	url = git@github.com:Trafkhop-Entertainment/Sourcehop-GodotScenes
[submodule "wiki/assets/Sourcehop-Shaders"]
	path = wiki/assets/Sourcehop-Shaders
	url = git@github.com:Trafkhop-Entertainment/Sourcehop-Shaders
[submodule "wiki/assets/Sourcehop-Images"]
	path = wiki/assets/Sourcehop-Images
	url = git@github.com:Trafkhop-Entertainment/Sourcehop-Images
[submodule "wiki/assets/Sourcehop-Audios"]
	path = wiki/assets/Sourcehop-Audios
	url = git@github.com:Trafkhop-Entertainment/Sourcehop-Audios
[submodule "wiki/assets/Sourcehop-Models"]
	path = wiki/assets/Sourcehop-Models
	url = git@github.com:Trafkhop-Entertainment/Sourcehop-Models
[submodule "wiki/assets/Sourcehop-Documents"]
	path = wiki/assets/Sourcehop-Documents
	url = git@github.com:Trafkhop-Entertainment/Sourcehop-Documents.git
[submodule "games/released/HoppiTex-Concept-Games/HoppiTex-Concept-Games"]
	path = games/released/HoppiTex-Concept-Games/HoppiTex-Concept-Games
	url = git@github.com:Trafkhop-Entertainment/HoppiTex-Concept-Games.git
[submodule "games/released/Raufbold3bs-Scratch-Archive/Raufbold3bs-Scratch-Archive"]
	path = games/released/Raufbold3bs-Scratch-Archive/Raufbold3bs-Scratch-Archive
	url = git@github.com:Trafkhop-Entertainment/Raufbold3bs-Scratch-Archive.git
[submodule "fragAlfonz/AlfonzProxy"]
	path = fragAlfonz/AlfonzProxy
	url = git@hf.co:spaces/Trafkhop/AlfonzProxy
