"wiki/trafkverse/backups/**" linguist-vendored

"wiki/trafkverse/backups/1.backup (ca. 23.9.2025)/**" linguist-vendored
"wiki/trafkverse/backups/2.backup (ca. 6.2.2026)/**" linguist-vendored
"wiki/trafkverse/backups/asset backup (ca. evrything not in RSA until 6.2.2026)/**" linguist-vendored
