:root {
--Kraft: #fff495;
--Kraft-dark: #cdc477;
--otherKraft: #fff7bb;
--otherKraft-dark: #ccc595;
--Trafk: #5a3998;
--Trafk-dark: #432a71;
--otherTrafk: #9862ff;
--otherTrafk-dark: #8456dd;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
}

h1, h2, h3, h4, p, li, header, footer, label {
color: black;
}

h1, h1 a {
    font-size: 30px;
}
h2, h2 a {
    font-size: 25px;
}
h3, h3 a {
    font-size: 20px;
}
h4, h4 a {
    font-size: 18px;
}
p, li, a, label, p a, li a, label a {
    font-size: 15px;
    padding-bottom: 10px;
    padding-top: 10px;
}
li {
    list-style-position: outside;
    margin-left: 35px;
}
.nav a.do{
    filter: drop-shadow(0px 0px 3px var(--Kraft)) drop-shadow(0px 0px 7px var(--Kraft));
    color: var(--Kraft);
}
.nav h1 {
    color: var(--Kraft);
}
nav .do {
    padding-left: 0;
    padding-right: 0;
}
.nav {
    background: var(--Trafk);
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    align-content: center;
    justify-content: center;
    flex-shrink: 0;
}
.do {
    display: inline-flex;
    flex-wrap: wrap;
    filter: drop-shadow(0px 0px 2px var(--Trafk)) drop-shadow(0px 0px 5px var(--Trafk));
    transition: scale .165s ease-in-out;
    color: var(--Trafk);
    padding-left: 5px;
    padding-right: 5px;
}
nav .nodo:hover {
    scale: 1 !important;
}
.nav a.nodo {
    color: var(--Kraft);
}
.do:hover {
    cursor: pointer;
    scale: 1.065;
}
.nav.nodo {
    border-radius: 0;
    height: 35px;
    width: 65px;
    padding: 5px;
}

html {
    height: 100%;
    margin: 0;
}

body {
    background: #fffdf2;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    flex: 1 0 auto;
    z-index: 11;
    padding-left: 15px;
    padding-top: 135px;
    padding-bottom: 35px;
}
header {
    padding: 10px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 85px;
    align-items: center;
    justify-content: center;
    text-align: center;
    background: var(--Kraft);
    filter: drop-shadow(0px 3px 7px var(--otherKraft-dark)) drop-shadow(0px 3px 7px var(--Kraft-dark));
    z-index: 999;
    border-bottom-left-radius: 65px;
    border-bottom-right-radius: 65px;
}
header .mainlogo {
    height: 65px;
    width: auto;
}
header #menuimg {
    height: 35px;
    width: auto;
    position: fixed;
    left: 65px;
    display: flex;
    padding: 0;
    top: 35px;
    margin: 0;
}
header #search {
    position: fixed;
    right: 65px;
    border: none;
    height: 35px;
    width: 165px;
    background: var(--otherKraft);
    filter: drop-shadow(0px 3px 5px var(--otherKraft-dark)) drop-shadow(0px 3px 5px var(--otherKraft-dark));
    border-radius: 35px;
}
header input[type="search"]::placeholder {
    text-align: center;
    font-size: 15px;
    color: var(--Trafk);
    font-weight: bolder;
}
.menu {
    width: 35px;
    height: 35px;
    position: fixed;
    padding: 0;
    background: var(--Trafk);
    border-radius: 50%;
    align-content: center;
    justify-content: center;
}
.menu a.do, .menu a {
    font-size: 12px;
    filter: drop-shadow(0px 0px 3px var(--Kraft)) drop-shadow(0px 0px 7px var(--Kraft));
    color: var(--Kraft);
}
#menu {
    position: fixed;
    left: 65px;
    width: 35px;
    padding: 0;
    margin: 0;
}
#menu:has(input:checked) ~ .menudiv {
    display: flex;
}
.menudiv{
    display: none;
    position: fixed;
    padding: 0;
    margin: 0;

}
#Profile {
    left: 135px;
}
#Settings {
    left: 205px;
}
#Services {
    left: 275px;
}
#darkmode-wrapper {
    left: 345px;
}
#darkmode-wrapper label {
    left: 285px;
    font-size: 12px;
    filter: drop-shadow(0px 0px 3px var(--Kraft)) drop-shadow(0px 0px 7px var(--Kraft));
    color: var(--Kraft);
    user-select: none;
}
.hidden-checkbox {
    position: fixed;
    opacity: 0;
    height: 0;
    width: 0;
}
#wikih {
    right: 335px;
}
#chatbot {
    right: 265px;
}
footer {
    justify-content: center;
    padding: 0;
    display: flex;
    bottom: 0;
    left: 0;
    right: 0;
    height: 65px;
    align-items: center;
    background: var(--Kraft);
    filter: drop-shadow(0px -3px 7px var(--otherKraft-dark)) drop-shadow(0px -3px 7px var(--Kraft-dark));
    gap: 6%;
    flex-shrink: 0;
    z-index: 999;
    border-top-left-radius: 65px;
    border-top-right-radius: 65px;
}
section {
    margin: 35px;
    padding: 35px;
    padding-bottom: 10px !important;
    background: var(--otherKraft);
    max-width: 24vw;
    max-height: 35vh;
    filter: drop-shadow(0px 3px 3px var(--otherKraft-dark)) drop-shadow(0px 3px 3px var(--otherKraft-dark));
    overflow: scroll;
    scroll-behavior: smooth;
    border-radius: 35px;
}
nav {
    top: 105px;
    bottom: 65px;
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    width: 85px;
    position: fixed;
    left: -75px;
    background: var(--otherKraft);
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    filter: drop-shadow(0px 3px 7px var(--otherKraft-dark)) drop-shadow(0px 3px 7px var(--otherKraft-dark));
    gap: 2%;
    z-index: 555;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-width: thin;
    border-top-right-radius: 65px;
    border-bottom-right-radius: 65px;
    transition: left 0.085s ease-in-out;
}
nav:hover {
    left: 0;
}
.header {
    margin-left: -15px;
    margin-right: -15px;
    margin-top: -5px;
    padding: 10px;
    background: var(--Kraft);
    filter: drop-shadow(0px 3px 3px var(--Kraft-dark)) drop-shadow(0px 3px 3px var(--Kraft-dark));
    margin-bottom: 15px;
    border-radius: 15px;
    text-align: center;
}
.header .do {
    padding: 0;
}
.date p {
    position:absolute;
    top: -5px;
    right: 5px;
    font-size: 10px;
}

video, iframe, img, audio {
    border: none;
    max-width: 100%;
    max-height: 100%;
}
.hidden {
    display: none;
}

@media (max-width: 1080px) {
    section {
        margin: 15px;
        padding: 15px;
        min-width: 80%;
    }
    main {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    h1, h1 a {
        font-size: 25px;
    }
    h2, h2 a {
        font-size: 23px;
    }
    h3, h3 a {
        font-size: 18px;
    }
    h4, h4 a {
        font-size: 15px;
    }
    p, li, a, label {
        font-size: 10px;
    }
    li {
        margin-left: 21px;
    }
    footer {
        gap: 2%;
        height: 45px;
    }
    .date p {
        top: 65%;
        font-size: 8px;
        font-weight: bold;
    }
    header {
        height: 45px;
    }
    header .mainlogo {
        height: 35px;
        padding: 0;
    }
    header #search {
        height: 25px;
        width: 135px;
        right: 35px;
    }
    header input[type="search"]::placeholder {
    font-size: 8px;
    }
    .header {
        margin: 5px;
    }
    #search {
        max-width: 35px;
    }
    header #menuimg {
        max-height: 25px;
        left: 35px;
        top: 20px;
    }
    #volume {
        max-width: 35px;
    }
    footer {
    height: 65px;
    gap: 0 !important;
    }
    footer h4 {
        font-size: 6px;
    }
    header #chatbot, header #wikih {
    min-width: 15px;
    min-height: 15px;
    max-width: 15px;
    max-height: 15px;
    right: 80px;
}
header #chatbot a {
    font-size: 7px;
}
}

html:has(#darkmode:not(:checked)) {
    body {
        background: #1b112e;
    }

    .do {
        filter: drop-shadow(0px 0px 2px var(--Kraft)) drop-shadow(0px 0px 5px var(--Kraft));
        color: var(--Kraft);
    }

    header h1, footer, h1, h2, h3, h4, p, li, label {
        color: white;
    }

    header {
        background: var(--otherTrafk);
        filter: drop-shadow(0px 3px 3px var(--otherTrafk-dark)) drop-shadow(0px 3px 3px var(--otherTrafk-dark));
    }

    section {
        background: var(--Trafk);
        filter: drop-shadow(0px 3px 3px var(--Trafk-dark)) drop-shadow(0px 3px 3px var(--Trafk-dark));
    }

    nav {
        background: var(--Trafk);
        filter: drop-shadow(3px 0px 3px var(--Trafk-dark)) drop-shadow(3px 0px 3px var(--Trafk-dark));
    }
    footer {
        background: var(--otherTrafk);
        filter: drop-shadow(0px 3px 3px var(--otherTrafk-dark)) drop-shadow(0px 3px 3px var(--otherTrafk-dark));
    }

    .header {
        background: var(--otherTrafk);
        filter: drop-shadow(0px 3px 3px var(--otherTrafk-dark)) drop-shadow(0px 3px 3px var(--otherTrafk-dark));
    }
    header #search {
        background: var(--Trafk);
        filter: drop-shadow(0px 1px 3px var(--Trafk-dark)) drop-shadow(0px 1px 3px var(--Trafk-dark));
    }
    header input[type="search"]::placeholder {
    color: var(--Kraft);
    }
}
