@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: 'Noto Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-weight: bold;
}
body {
    background: #30185e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}





#logoundnav {
    background: #5a3998; /*standard trafk color if not transparent*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.borderbottom {
    border-bottom: 5px solid #371c67;
    box-shadow: 0 2px 5px #160930;
}
#logoundnav img {
    height: 150px;
    margin-top: 50px;
    margin-bottom: 10px;
    filter: drop-shadow(0px 0px 0px #fff49e)    drop-shadow(0px 0px 25px #fff49e); /*standard kraft color if not transparent*/
}
nav {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0% auto;
    padding: 15px;
    gap: 56.25px;
}
nav .header {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 112.5px;
    height: 112.5px;
    border: 5px solid #603ea3;
    border-radius: 50%;
    background: #9069da;
}
nav .header a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: #fff287;
    font-size: 30px;
    filter: drop-shadow(0px 0px 0px #fff49e)    drop-shadow(0px 0px 7px #fff49e);
}
nav .header a:hover{
    filter: drop-shadow(0px 0px 0px #fff49e)    drop-shadow(0px 0px 2px #fff49e);
}




#news, #wiki {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
}
newsarea {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
#wiki {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
#wiki .content {
    background: #5a3998;
    padding: 30px;
    width: fit-content;
    height: fit-content;
    margin-bottom: 25px;
    max-width: 35%;
    max-height: 600px;
    border: 5px solid #371c67;
    box-shadow: 0px 0px 10px #160930;
    overflow: scroll auto;
    border-radius: 20px;
    overflow-x: hidden;
    scrollbar-width: thin;
    color: #fff8bd;
}
#news .content {
    width: 550px;
    height: 275px;
    background: #5a3998;
    padding: 30px;
    margin-bottom: 25px;
    border: 5px solid #371c67;
    box-shadow: 0px 0px 10px #160930;
    overflow: scroll auto;
    border-radius: 20px;
    overflow-x: hidden;
    scrollbar-width: thin;
    color: #fff8bd;
}

.header-old{
    font-size: 28px;
}
.content-old {
    font-size: 18px;
}
#news-old {
    width: 550px;
    height: 275px;
}

.header {
    background: #9069da;
    box-shadow: 0px 0px 10px #2e1757;
    border: 5px solid #603ea3;
    border-radius: 20px;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
}
.header h2 {
    font-size: 30px;
    color: #fff37d;
}
.header .date {
    position: absolute;
    top: 0px;
    right: 5px;
    color: #ffeb3c;
        z-index: 2;
}
.header .date p {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    text-decoration: dotted;
}


p, footer span, pre {
    margin-left: 20px; /* News-Standard */
    margin-right: 20px;
    line-height: 25px;
    font-size: 20px; /* Gleiche Größe wie News */
    color: #fff8bd;
    text-decoration: none;
}



h2 {
    color: #fff37d;
    font-size: 30px;
    margin-left: 20px;
}


a p{
    font-size: 20px;
    margin-bottom: 25px;
}





#wiki img {
display: flex;
margin-left: 20px;
margin-right: 20px;
max-width: 300px;
line-height: 25px;
font-size: 20px;
color: #fff8bd;
}



a {
    color: #fff49e;
    text-decoration: underline #fff49e;
    filter: drop-shadow(0px 0px 0px #fff49e)    drop-shadow(0px 0px 7px #fff49e);
}
a:hover {
    color: #fff49e;
    filter: drop-shadow(0px 0px 0px #fff49e)    drop-shadow(0px 0px 2px #fff49e);
}


.hidden {
    display: none;
}



footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 5px solid #371c67;
    height: 50px;
    box-shadow: 0px -2px 5px #160930;
    gap: 12%;
    background: #5a3998;
}



#license {
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 25px;
    text-align: center;
}