html {
  height: 100%;
  background: white;
  color: black;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 0;
}
main {
  flex: 1;
  text-align: center;
}
nav {
  padding: 0.5%;
  border: 5px solid black;
  margin-left: 35%;
  margin-right: 35%;
}
nav a {
  margin: 2.1%;
  padding: 1%;
  color: black;
}
section {
  margin: 10% auto;
  padding: 20px;
}
header {
  text-align: center;
}
header h1{
  padding-top: 0%;
  text-decoration-line: none;
  text-decoration-thickness: 0px;
}
h1 {
  padding-top: 2.5%;
  padding-left: 1%;
  padding-right:1%;
  padding-bottom: 0%;
  text-decoration-line: underline;
  text-decoration-thickness: 5px;
}
h2 {
  padding-top: 1.25%;
  padding-left: 0.5%;
  padding-right:0.5%;
  padding-bottom: 0%;
  text-decoration-line: underline;
  text-decoration-thickness: 2px;
}
p {
  padding-left: 25%;
  padding-right:25%;
  padding-bottom: 0%;
}
footer {
  border-top: 5px solid black;
  padding: 20px 0; /* Oben und unten etwas Platz */
  text-align: center;
  margin-top: auto;
  width: 100%;
}

.footer-content {
  display: flex;
  flex-direction: column; /* Stapelt Text und Links übereinander */
  gap: 10px; /* Abstand zwischen Text und Link-Zeile */
  align-items: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px; /* Abstand zwischen den einzelnen Links */
}

.footer-links a {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

/* Wir entfernen das Padding vom p-Tag im Footer, falls es noch stört */
footer span {
  display: inline-block;
}



/*Für die Boxen*/
.container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 10% 0;
}
a.box{
  text-align: center;
  border: 5px solid black;
  margin: 2%;
  padding: 1.5%;
  text-decoration: none;
  color: black;
  aspect-ratio: 4/3;
  width: 25%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}

.container.oldnews {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  padding: 0% 0;
}

.box.oldnews{
  text-align: center;
  border: 3px solid black;
  margin: 1%;
  padding: 0.5%;
  text-decoration: none;
  color: black;
  aspect-ratio: auto;
  width: 7%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
}




/*Für die Box in Website*/
.modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal:target {
  display: block;
}
.modal-content {
  background: white;
  color: black;
  width: 80%;
  max-width: 800px;
  margin: 10% auto;
  padding: 20px;
  border: 5px solid black;
  position: relative;
  z-index: 1001;
}
.close {
  float: right;
  text-decoration: none;
  font-size: 28px;
  color: black;
}
