@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');
* {
    font-family: 'Noto Sans', sans-serif;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-weight: bold;
}
body {
    background: #30185e;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
main {
    flex: 1;
}





#logoundnav {
    background: #5a3998; /*standard trafk color if not transparent*/
    display: flex;
    justify-content: center;
    align-items: center;
}
.borderbottom {
    border-bottom: 5px solid #371c67;
    box-shadow: 0 2px 5px #160930;
}
#logoundnav img {
    height: 150px;
    margin-top: 50px;
    margin-bottom: 10px;
    filter: drop-shadow(0px 0px 0px #fff49e)    drop-shadow(0px 0px 25px #fff49e); /*standard kraft color if not transparent*/
}
nav {
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0% auto;
    padding: 15px;
    gap: 56.25px;
}
nav a {
    transition: transform 0.1s ease, filter 0.1s ease;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 112.5px;
    height: 112.5px;
    color: #fff287;
    font-size: 25px;
    text-decoration: none;
    border: 5px solid #603ea3;
    border-radius: 50%;
    box-shadow: 0 0 25px #2e1757;
    background: #9069da;
}
nav a span {
    filter: drop-shadow(0px 0px 0px #fff49e)    drop-shadow(0px 0px 7px #fff49e);
}
nav a:hover span {
    filter: drop-shadow(0px 0px 0px #fff49e)    drop-shadow(0px 0px 2px #fff49e);
}




#news {
    margin-top: 50px;
    margin-bottom: 10px;
    margin-left: 25px;
    margin-right: 25px;
}
newsarea {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    align-items: center;
}
.news {
    background: #5a3998;
    padding: 30px;
    width: 550px;
    height: 275px;
    margin-bottom: 25px;
    border: 5px solid #371c67;
    box-shadow: 0px 0px 10px #160930;
    overflow: scroll auto;
    border-radius: 20px;
    overflow-x: hidden;
    scrollbar-width: thin;
    color: #fff8bd;
}
.news p {
    margin-left: 20px;
    margin-right: 20px;
    line-height: 25px;
    font-size: 20px;
}
.news .oldnewsh2 {
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 25px;
    font-size: 21px;
    text-decoration: underline;
}
.news .oldnewsp {
    padding: 15px;
}
.newsh2 {
    background: #9069da;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 21px;
    box-shadow: 0px 0px 10px #2e1757;
    border: 5px solid #603ea3;
    border-radius: 20px;
    position: relative;
    color: #fff37d;
}
.newsh2 .newsdate {
    position: absolute;
    top: 0px;
    right: 5px;
    color: #ffeb3c;
}
.newsdate p {
    margin: 0px;
    padding: 0px;
    font-size: 15px;
    text-decoration: underline;
}





#wiki {

}
.wiki-content {
    margin: 40px;
    padding-bottom: 30px;
    background: #5a3998;
    width: fit-content;
    height: fit-content;
    margin-bottom: 25px;
    border: 5px solid #371c67;
    box-shadow: 0px 0px 10px #160930;
    border-radius: 20px;
    scrollbar-width: thin;
}
.wiki-content-header {
    margin: 30px;
    padding: 15px;
    text-align: center;
    display: inline-flex;
    flex-wrap: wrap;
    background: #9069da;
    box-shadow: 0px 0px 10px #2e1757;
    border: 5px solid #603ea3;
    border-radius: 20px;
}
.wiki-content-header a {
    font-size: 21px;
    color: #fff37d;
    text-decoration: underline;
    filter: drop-shadow(0px 0px 0px #fff49e)    drop-shadow(0px 0px 7px #fff49e);

}
.wiki-content a p {
    color: #fff37d;
    text-decoration: underline;
    filter: drop-shadow(0px 0px 0px #fff49e)    drop-shadow(0px 0px 7px #fff49e);
    padding-bottom:25px;
}
.wiki-content-header a:hover, .wiki-content a p:hover {
    filter: drop-shadow(0px 0px 0px #fff49e)    drop-shadow(0px 0px 2px #fff49e);

}

.wiki-content h2 {
    color: #fff37d;
    font-size: 21px;
}

.wiki-content p {
    margin-left: 60px;
    margin-right: 60px;
    line-height: 25px;
    font-size: 20px;
    color: #fff8bd;
}
.wiki-content img {
display: flex;
margin-left: 60px;
margin-right: 60px;
height: 150px;
/*ab hier alt*/
line-height: 25px;
font-size: 20px;
color: #fff8bd;
}






footer {
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-top: 5px solid #371c67;
    height: 50px;
    box-shadow: 0px -2px 5px #160930;
    gap: 12%;
    background: #5a3998;
    color: #fff287;
    font-size: 25px;
}
footer a {
    color: #fff287;
    text-decoration: none;
    filter: drop-shadow(0px 0px 0px #fff49e)    drop-shadow(0px 0px 7px #fff49e);
}
footer span {
    text-decoration: none;
}
footer a:hover {
    filter: drop-shadow(0px 0px 0px #fff49e)    drop-shadow(0px 0px 2px #fff49e);
}

#license {
    padding: 30px;
    margin-left: 20px;
    margin-right: 20px;
    line-height: 25px;
    text-align: center;
}





/* Alles in diesem Block gilt NUR für Bildschirme, die schmaler als 800px sind */
@media screen and (max-width: 1100px) {
    #logoundnav {
    flex-direction: column;
    padding: 15px;
    }
    .navlinks, .navrechts {
        gap: 42px;
    }
    footer {
        flex-direction: column;
        height: auto;
        padding: 15px;
        gap: 0px;
    }
}
