.section {
  background: white;
  color: black;
  margin: 10% auto;
  padding: 20px;
}
.p, h1, a {
  background: white;
  color: black;
  margin: 10px;;
  padding: 20px;
}

.modal {
  position: fixed;
  inset: 0;
  display: none;
  z-index: 1000;
}

.modal:target {
  display: block;
}

.modal-content {
  background: white;
  color: black;
  width: 80%;
  max-width: 800px;
  margin: 10% auto;
  padding: 20px;
  border: 5px solid black;
}

.close {
  float: right;
  text-decoration: none;
  font-size: 28px;
  color: black;
}

