.modal {
  position: fixed;
  inset: 0;
  background: white;
  border: 5px solid black;
  display: none;
  z-index: 1000;
}

.modal:target {
  display: block;
}

.modal-content {
  background: white;
  color: black;
  width: 60%;
  max-width: 600px;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
}

.close {
  float: right;
  text-decoration: none;
  font-size: 28px;
  color: black;
}

